<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @team.year %>
</p>

<p>
  <strong>Number:</strong>
  <%= @team.number %>
</p>

<p>
  <strong>School:</strong>
  <%= @team.school %>
</p>

<p>
  <strong>Locations</strong>
</p>

<%= render 'team_locations/table' %>

<%= link_to 'Edit', edit_team_path(@team), class: 'btn btn-default'  %> |
<%= link_to 'Back', teams_path, class: 'btn btn-default'  %>
