<%= simple_form_for(@team_location, html: { class: 'form-horizontal' }) do |f| %> 
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :address %>
    <%= f.input :latitude %>
    <%= f.input :longitude %>
    <%= f.input :team_id %>
  </div>
    
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
