<script>

    // For some reason, Google Maps needs to read for a JS array to add event listeners to each marker
    var team_locations = [];
    var team_ids = [];
    var markers = [];

    <% @team_locations.size.times do |i| %>
    var lat = <%= @team_locations[i].latitude %>
    var lng = <%= @team_locations[i].longitude %>
    var teamId = <%= @team_locations[i].team_id %>
    team_locations.push([lat, lng]);
    team_ids.push(teamId);
    console.log("Locations: " + team_locations);
    <% end %>

    function initialize() {
        // Center the map on the US
        var center = new google.maps.LatLng(37.09024, -95.712891);
        
        var mapOptions = {
            zoom: 4,
            center: center,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
                mapOptions);

        console.log("Team 0: " + team_locations[0]);
        console.log("Lat 0: " + team_locations[0][1]);

        for (var i = 0; i < team_locations.length; i++) {
            var teamLatLng = new google.maps.LatLng(team_locations[i][0], team_locations[i][1]);
            var marker = new google.maps.Marker({
                position: teamLatLng,
                map: map,
                label: team_ids[i]
            });
            markers.push(marker);

            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                    map.setZoom(8);
                    map.setCenter(markers[i].getPosition());
                }
            })(marker, i));
        }
    }
    google.maps.event.addDomListener(window, "load", initialize);
</script>


<p id="notice"><%= notice %></p>

<h1>Listing Team Locations</h1>

<div id="map-canvas" style="width:100%;height:500px;"></div>


<%= render 'team_locations/table' %>
<br>

<%= link_to 'New Team location', new_team_location_path, class: 'btn btn-default'  %>
