<p id="notice"><%= notice %></p>

<iframe width="300" height="170" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
        src="https://maps.google.com/maps?q=+<%=@team_location.latitude %>+,+<%= @team_location.longitude %>+&hl=es;z=3&amp;output=embed"></iframe>
<br />
<small><a href="https://maps.google.com/maps?q=+<%=@team_location.latitude%>+,+<%=@team_location.longitude%>+&hl=es;z=3&amp;output=embed"
          style="color:#0000FF;text-align:left" target="_blank">See map bigger</a></small>

<p>
  <strong>Address:</strong>
  <%= @team_location.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @team_location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @team_location.longitude %>
</p>

<p>
  <strong>Team:</strong>
  <%= @team_location.team %>
</p>

<%= link_to 'Edit', edit_team_location_path(@team_location), class: 'btn btn-default'  %> |
<%= link_to 'Back', team_locations_path, class: 'btn btn-default'  %>
