<!DOCTYPE html>
<html>
<head>
  <title>CrossCountrySolar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3hHJGclTZbrSLn_uIgQrQlqFvUDy1KLc&sensor=false"></script>-->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9KNDrUF-JIaDByu1sVuUg5RD7mDx5rDc&sensor=false"></script>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="<%= asset_path 'solar_car_challenge_logo.png' %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <%= render 'application/header' %>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
